body{
    background: rgba(8, 107, 236, 0.827);
    font: normal 15pt arial;

}

header{
   color: white;
   text-align: center;

}

section{
    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.395);

}

div#res{
    text-align: center;
}

section div img {
    border-radius: 50%;
    height: 45%;
    width: 45%;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;

}